*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.kontajner{
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/Background.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;/* určuje rozloženie prvkov na stránke*/
}

.navigacny_panel{
height: 12%;
display: flex;/*umožnuje anm nastaviť rozloženie prvkkov na stránke*/
align-items: center;
}

.logo_auto{
    width: 50px;
    cursor: pointer;
}

.logo_menu{
    width: 50px;
    cursor: pointer;
    
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    color: azure;
    font-size: 15px;
}

.riadok{
    display: flex;
    height: 88%;
    align-items: center;
}

.stlpec {
    flex-basis: 50%;
}
h1{
    color: azure;
    font-size: 100px;
    
}

h3{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: azure;
    font-size: 20px;
    text-shadow: 0px 0px 5px black;
}

p{
    color: azure;
    font-size: 11px;
    line-height: 12px;
    text-shadow: gray;
    
}

button{
    width: 250px;
    color: black;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    padding: 5px  1px 5px 1px;
    background: azure;
    border: 0;
    border-radius: 20px;
    margin-top: 30px;
    cursor:pointer; 
    transition: transform 0.5s;

}

.mriezka{
    border-radius: 10px;
    padding: 15px 25px;
    display: block;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.mriezka1{
    background-image: url(../images/BMW3.jpg);
    min-width: 30%;
    min-height: 45%;
}

.mriezka2{
    background-image: url(../images/BMW1.jpg);
    min-width: 30%;
    min-height: 45%;
}

.mriezka:hover{
    transform: translateY(-5px);
}

button:hover{
    transform:translateY(-5px);
}

.zoznam{
    transition: trasnform 0.5s;
}

.zoznam:hover{
    transform: translateY(-5px);
}
/*
p ::first-letter{
    text-transform: capitalize;
    font-size: 80px;
    font-family: 'font';
    font-weight: bold;
}


