.kontajner{
    width: 100%;
    box-shadow: 2cm;
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.logo_menu{    
    width: 50px;
    cursor: pointer;
    position: relative;
    bottom: 70px;
    left: 30px;
    }
.logo_pc{    
    width: 60px;
    cursor: pointer;
    position: relative;
    top: 40px;
    }
.navigacny_panel{
    height: 14%;
    display: flex;
    align-items: center;
    }
nav{
    flex: 1;
    text-align: right;
    }
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 65px;
    position: relative;
    bottom: 90px;
    }
    nav ul li a{
    text-decoration: none;
    color: azure;
    font-size: 15px;
    }
    button {
        background-color: lightblue;
        border-radius: 8px;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bolder;
        padding: 2px  1px 5px 1px;
        background: azure;
        cursor:pointer; 
        transition: transform 0.5s;  
          
        }
        button:hover{
            transform:translateY(-5px);
        }
.background {
 background-image: linear-gradient(rgba(48, 48, 48, 0.6), rgba(48, 48, 48, 0.6)), url(../images/podstran.jpg)
}
.produkt1 {
    
    background-color: lightgray;
    padding-left: 7%;
    padding-right: 7%;
    position: relative;
   
}
.produkt2{
    
    padding-left: 7%;
    padding-right: 7%;
    position: relative;
    color: aliceblue;
}
.produkt3 {
    background-color: lightgray;
    padding-left: 7%;
    padding-right: 7%;
    position: relative;
}
.produkt4 {
    padding-left: 7%;
    padding-right: 7%;
    position: relative;
    color: aliceblue;
}
.produkt5 {
    background-color: lightgray;
    padding-left: 7%;
    padding-right: 7%;
    position: relative;
}
.h {
    font-size: 35px;
    text-shadow: 1px 1px 8px #272727;
}
.popis {
    /*display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-start;*/
    position: absolute;
    top: 170px;
    left: 650px;
    font-size: 25px;
    border-radius: 20px;
    border-color: aliceblue;
   
}
.ba {
    padding: 20px;
    position: relative;
    left: 50px;
}
p {
    position: relative;
    left: 100px;
    font-size: 20px;
}

.copyright {
    margin-left: 550px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.logo{
    position: relative;
    left: 80px;
    font-size: 35px;
    color: azure;

}